###Rahadian Perwita Putra

##TASK: Please Implement the Recommender Systems Using The Songs dataset (created by all class members)

1. Input: Song title (_st = "Is It The Answer?"), number of recomended songs (_nt = 10 )
2. Process: calculate cosine similarity over TFIDF columns
3. Returning: _nt songs which close to _st based on cosine similarity
4. Powerpoint yang menjelaskan tugas TF/IDF dengan Cosine similarity

Dataset Lagu dapat diisi dan dilihat pada: https://docs.google.com/spreadsheets/d/1vjszULKCcS4LPup3VJ9MofYPiYhcaoXTC4zdohLFwpQ/edit?usp=sharing

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://docs.google.com/spreadsheets/d/' +'1vjszULKCcS4LPup3VJ9MofYPiYhcaoXTC4zdohLFwpQ' +'/export?gid=0&format=csv',)

df = df[['NIM','Submisike','Artis','Judul','Lirik']]
df.head()

,NIM,Submisike,Artis,Judul,Lirik
0,1.301180e+09,1.0,Reality Club,Is It The Answer?,I make you break\nYou move I take\nLove is the...
1,1.301180e+09,2.0,Simple Plan,Jet lag,"Whoa, oh, oh\nWhoa, oh, oh\nSo jet-lagged\n\nW..."
2,1.301180e+09,3.0,The Script,Superheroes,All the life she has seen\nAll the meaner side...
3,1.301180e+09,4.0,The Script,Breakeven,I'm still alive but I'm barely breathing\nJust...
4,1.301180e+09,5.0,Green Day,21 Guns,"Do you know what's worth fighting for,\nWhen i..."

###Pre-processing

In [2]:
import re

#changing all of data type into string
df.Lirik=df.Lirik.astype(str)

# Converting all words to lower case and removing punctuation
df['Lirik'] = [re.sub(r'\d+\S*', '',
                  row.lower().replace('.', ' ').replace('_', '').replace('/', ''))
                  for row in df['Lirik']]

df['Lirik'] = [re.sub(r'(?:^| )\w(?:$| )', '', row)
                  for row in df['Lirik']]

# Removing numbers
df['Lirik'] = [re.sub(r'\d+', '', row) for row in df['Lirik']]

In [3]:
df.head()

,NIM,Submisike,Artis,Judul,Lirik
0,1.301180e+09,1.0,Reality Club,Is It The Answer?,make you break\nyou movetake\nlove is the answ...
1,1.301180e+09,2.0,Simple Plan,Jet lag,"whoa, oh, oh\nwhoa, oh, oh\nso jet-lagged\n\nw..."
2,1.301180e+09,3.0,The Script,Superheroes,all the life she has seen\nall the meaner side...
3,1.301180e+09,4.0,The Script,Breakeven,i'm still alive but i'm barely breathing\njust...
4,1.301180e+09,5.0,Green Day,21 Guns,"do you know what's worth fighting for,\nwhen i..."

In [4]:
%%time
import nltk
nltk.download("stopwords")

# Tokenizing comments and putting them into a new column
tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')  # by blank space
df['tokens'] = df['Lirik'].apply(tokenizer.tokenize)

CPU times: user 525 ms, sys: 58.4 ms, total: 583 ms
Wall time: 596 ms

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
df.head()

,NIM,Submisike,Artis,Judul,Lirik,tokens
0,1.301180e+09,1.0,Reality Club,Is It The Answer?,make you break\nyou movetake\nlove is the answ...,"[make, you, break, you, movetake, love, is, th..."
1,1.301180e+09,2.0,Simple Plan,Jet lag,"whoa, oh, oh\nwhoa, oh, oh\nso jet-lagged\n\nw...","[whoa, oh, oh, whoa, oh, oh, so, jet, lagged, ..."
2,1.301180e+09,3.0,The Script,Superheroes,all the life she has seen\nall the meaner side...,"[all, the, life, she, has, seen, all, the, mea..."
3,1.301180e+09,4.0,The Script,Breakeven,i'm still alive but i'm barely breathing\njust...,"[i, m, still, alive, but, i, m, barely, breath..."
4,1.301180e+09,5.0,Green Day,21 Guns,"do you know what's worth fighting for,\nwhen i...","[do, you, know, what, s, worth, fighting, for,..."

In [6]:
%%time
# Removing Stopwords & Punctuation
from nltk.corpus import stopwords
#stopwords.words('english')

filtered_words = []
for row in df['tokens']:
    filtered_words.append([
        word.lower() for word in row
        if word.lower() not in nltk.corpus.stopwords.words('english')
    ])

df['tokens'] = filtered_words

CPU times: user 22.1 s, sys: 2.66 s, total: 24.7 s
Wall time: 31.1 s

In [7]:
df.head()

,NIM,Submisike,Artis,Judul,Lirik,tokens
0,1.301180e+09,1.0,Reality Club,Is It The Answer?,make you break\nyou movetake\nlove is the answ...,"[make, break, movetake, love, answer, say, ifw..."
1,1.301180e+09,2.0,Simple Plan,Jet lag,"whoa, oh, oh\nwhoa, oh, oh\nso jet-lagged\n\nw...","[whoa, oh, oh, whoa, oh, oh, jet, lagged, time..."
2,1.301180e+09,3.0,The Script,Superheroes,all the life she has seen\nall the meaner side...,"[life, seen, meaner, side, took, away, prophet..."
3,1.301180e+09,4.0,The Script,Breakeven,i'm still alive but i'm barely breathing\njust...,"[still, alive, barely, breathing, prayin, togo..."
4,1.301180e+09,5.0,Green Day,21 Guns,"do you know what's worth fighting for,\nwhen i...","[know, worth, fighting, worth, dying, take, br..."

In [8]:
%%time
# Setting the Lemmatization object
nltk.download("omw-1.4")
lmtzr = nltk.stem.wordnet.WordNetLemmatizer()

# Looping through the words and appending the lemmatized version to a list
stemmed_words = []
for row in df['tokens']:
    stemmed_words.append([
        # Verbs
        lmtzr.lemmatize(  
            # Adjectives
            lmtzr.lemmatize(  
                # Nouns
                lmtzr.lemmatize(word.lower()), 'a'), 'v')
        for word in row
        if word.lower() not in nltk.corpus.stopwords.words('english')])

# Adding the list as a column in the data frame
df['tokens'] = stemmed_words

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

CPU times: user 10.1 s, sys: 1.02 s, total: 11.1 s
Wall time: 11.1 s

In [9]:
df.head()

,NIM,Submisike,Artis,Judul,Lirik,tokens
0,1.301180e+09,1.0,Reality Club,Is It The Answer?,make you break\nyou movetake\nlove is the answ...,"[make, break, movetake, love, answer, say, ifw..."
1,1.301180e+09,2.0,Simple Plan,Jet lag,"whoa, oh, oh\nwhoa, oh, oh\nso jet-lagged\n\nw...","[whoa, oh, oh, whoa, oh, oh, jet, lag, time, m..."
2,1.301180e+09,3.0,The Script,Superheroes,all the life she has seen\nall the meaner side...,"[life, see, mean, side, take, away, prophet, d..."
3,1.301180e+09,4.0,The Script,Breakeven,i'm still alive but i'm barely breathing\njust...,"[still, alive, barely, breathe, prayin, togod,..."
4,1.301180e+09,5.0,Green Day,21 Guns,"do you know what's worth fighting for,\nwhen i...","[know, worth, fight, worth, die, take, breath,..."

In [10]:
# Appends all words to a list in order to find the unique words
allWords = []
for row in stemmed_words:
    for word in row:
        allWords.append(str(word))
            
uniqueWords = np.unique(allWords)

print('Number of unique words:', len(uniqueWords), '\n')
print('Previewing sample of unique words:\n', uniqueWords[1234:1244])

Number of unique words: 6418

Previewing sample of unique words:
 ['couragehad' 'course' 'courtyard' 'cousin' 'cover' 'covergirls' 'crack'
 'crash' 'crasher' 'crater']

In [11]:
stemmed_sentences = []

# Spacing out the words for each songs
for row in df['tokens']:
    stemmed_string = ''
    for word in row:
        stemmed_string = stemmed_string + ' ' + word
    stemmed_sentences.append(stemmed_string)
    
df['tokens'] = stemmed_sentences

###TF/IDF

In [12]:
%%time
import sklearn
# Creating the sklearn object
tfidf = sklearn.feature_extraction.text.TfidfVectorizer(smooth_idf=False)

# Transforming our 'tokens' column into a TF-IDF matrix and then a data frame
tfidf_df = pd.DataFrame(tfidf.fit_transform(df['tokens']).toarray(), 
                        columns=tfidf.get_feature_names())

CPU times: user 72 ms, sys: 13 ms, total: 85 ms
Wall time: 84.5 ms

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [13]:
print(tfidf_df.shape)
tfidf_df.head()

(541, 6404)

,aaliyah,aback,abandon,abide,able,aboutgirlfriend,abouthouse,abouthundred,aboutlife,absence,...,悲しみと切なさの艶麗,愁いを含んだ閃光,手を広げればこぼれ落ちそうで,握ったこの手は離さない,握りしめた,狂おしいほど刹那の艶麗,眼光は感覚的衝動,終わりはないさ,譲れないもの,飾ったように見せかけてる
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Removing sparse columns
tfidf_df = tfidf_df[tfidf_df.columns[tfidf_df.sum() > 1.25]]

# Removing any remaining digits
tfidf_df = tfidf_df.filter(regex=r'^((?!\d).)*$')

print(tfidf_df.shape)
tfidf_df.head()

(541, 452)

,act,afraid,ago,ah,alarm,alive,allneed,allwant,almost,alone,...,would,write,wrong,ya,yeah,year,yes,yesterday,yet,young
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.085876,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.094601,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.008916,0.0,0.016161,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.074344,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.097258,0.0,0.000000,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

In [15]:
# Storing the original data frame before the merge in case of changes
df_orig = df.copy()

# Renaming columns that conflict with column names in tfidfCore
df.rename(columns={'nim': 'NIM', 
                   'submisike': 'Submisike', 
                   'artis': 'Artis', 
                   'judul': 'Judul', 
                   'lirik': 'Lirik', 
                   'tokens': 'Tokens'}, inplace=True)

# Merging the data frames by index
df = pd.merge(df, tfidf_df, how='inner', left_index=True, right_index=True)

df.head()

,NIM,Submisike,Artis,Judul,Lirik,Tokens,act,afraid,ago,ah,...,would,write,wrong,ya,yeah,year,yes,yesterday,yet,young
0,1.301180e+09,1.0,Reality Club,Is It The Answer?,make you break\nyou movetake\nlove is the answ...,make break movetake love answer say ifwent aw...,0.0,0.0,0.0,0.0,...,0.085876,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
1,1.301180e+09,2.0,Simple Plan,Jet lag,"whoa, oh, oh\nwhoa, oh, oh\nso jet-lagged\n\nw...",whoa oh oh whoa oh oh jet lag time miss anyth...,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2,1.301180e+09,3.0,The Script,Superheroes,all the life she has seen\nall the meaner side...,life see mean side take away prophet dream fo...,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.008916,0.0,0.016161,0.0,0.0,0.0
3,1.301180e+09,4.0,The Script,Breakeven,i'm still alive but i'm barely breathing\njust...,still alive barely breathe prayin togod thatd...,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.097258,0.0,0.000000,0.0,0.0,0.0
4,1.301180e+09,5.0,Green Day,21 Guns,"do you know what's worth fighting for,\nwhen i...",know worth fight worth die take breath away f...,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

In [16]:
# Summary stats of TF-IDF
print('Max:', np.max(tfidf_df.max()), '\n',
      'Mean:', np.mean(tfidf_df.mean()), '\n',
      'Standard Deviation:', np.std(tfidf_df.std()))

Max: 1.0
 Mean: 0.006904056425648002
 Standard Deviation: 0.013339322349206845

###RECOMMENDER

In [17]:
#importing cosine similarity
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
#using tfidf_df as dataframe to find the cosine_similarity
cosim = cosine_similarity(tfidf_df, tfidf_df)

In [19]:
cosim.shape

(541, 541)

In [20]:
cosim[1]

array([0.05109497, 1.        , 0.11246399, 0.09410556, 0.06632893,
       0.11870485, 0.05379863, 0.0373751 , 0.11667586, 0.07682899,
       0.05599072, 0.12162935, 0.02957613, 0.02491246, 0.16059455,
       0.08736736, 0.10146401, 0.09429694, 0.12400276, 0.06014256,
       0.02148501, 0.02211884, 0.11585352, 0.06801826, 0.04214805,
       0.00676456, 0.06789553, 0.39222652, 0.03952226, 0.03547418,
       0.04690533, 0.10080832, 0.08611026, 0.02121159, 0.01306314,
       0.05378159, 0.06174378, 0.11658644, 0.13054953, 0.01384811,
       0.00450131, 0.13361773, 0.17203397, 0.04836828, 0.02506862,
       0.18779658, 0.04815444, 0.02128919, 0.04750636, 0.07202413,
       0.04638058, 0.05154537, 0.01878878, 0.02533435, 0.07969725,
       0.15902   , 0.11013533, 0.02138363, 0.01230829, 0.04165828,
       0.2012808 , 0.05935759, 0.08474772, 0.08359421, 0.06495131,
       0.03581642, 0.02587643, 0.06799713, 0.14626092, 0.04676861,
       0.14855756, 0.04588909, 0.01268687, 0.03673855, 0.11686394,
       0.0346179 , 0.00650782, 0.13011017, 0.19297512, 0.03971378,
       0.09968093, 0.04044831, 0.0947876 , 0.00682642, 0.01088695,
       0.02636227, 0.0141426 , 0.07534589, 0.04231231, 0.21874419,
       0.01266367, 0.05851068, 0.13901351, 0.07350258, 0.0352453 ,
       0.00452135, 0.04368931, 0.05353588, 0.05906274, 0.01898594,
       0.06573786, 0.07802319, 0.0202987 , 0.16019771, 0.02399284,
       0.04866235, 0.10265208, 0.03810999, 0.03896732, 0.01790593,
       0.02272521, 0.06432102, 0.04735808, 0.07448578, 0.06704021,
       0.11249392, 0.08980246, 0.01577049, 0.06186593, 0.06038912,
       0.12342841, 0.00900733, 0.03048604, 0.06517881, 0.08127269,
       0.03004885, 0.06908935, 0.08915749, 0.08244197, 0.07529814,
       0.09366946, 0.03303159, 0.10728775, 0.08677832, 0.16736734,
       0.11977761, 0.01922302, 0.04017603, 0.19209059, 0.03071823,
       0.11365331, 0.02734602, 0.0883195 , 0.00252392, 0.23846357,
       0.06787597, 0.10682113, 0.20411494, 0.07043238, 0.11462099,
       0.03201232, 0.10358648, 0.08336733, 0.09674892, 0.01279999,
       0.03476243, 0.00874072, 0.03174767, 0.00955598, 0.20280973,
       0.        , 0.03743487, 0.04269944, 0.03253648, 0.04149942,
       0.0890424 , 0.13011691, 0.01631036, 0.04252521, 0.03095748,
       0.01722706, 0.00788456, 0.01862846, 0.0268329 , 0.00615468,
       0.06059606, 0.07068642, 0.01915812, 0.06736185, 0.03975579,
       0.01399763, 0.02899851, 0.03219636, 0.09953128, 0.00799164,
       0.04448345, 0.00845119, 0.09770888, 0.02960741, 0.06798609,
       0.10614891, 0.44113744, 0.03094901, 0.07803746, 0.03268816,
       0.04124834, 0.08215752, 0.10606023, 0.14656661, 0.12480239,
       0.08617916, 0.02957339, 0.10410841, 0.00462322, 0.05654799,
       0.19589184, 0.10636249, 0.04919846, 0.1101362 , 0.13962938,
       0.06108906, 0.03759952, 0.02533939, 0.07097401, 0.28797306,
       0.12671843, 0.03041386, 0.07481766, 0.09046619, 0.08706267,
       0.1883856 , 0.19589184, 0.03823913, 0.06422737, 0.05985808,
       0.00942725, 0.09932129, 0.0608788 , 0.02025564, 0.07964093,
       0.04594215, 0.02849952, 0.00623816, 0.01194685, 0.07205065,
       0.14117733, 0.03423662, 0.16990078, 0.0406523 , 0.09858454,
       0.05253146, 0.02491861, 0.07205531, 0.09284824, 0.05563092,
       0.08723024, 0.19284468, 0.02958698, 0.01391366, 0.06986363,
       0.17297254, 0.1558033 , 0.09557414, 0.13013243, 0.07895695,
       0.01455238, 0.09172475, 0.03041386, 0.03478301, 0.07755466,
       0.23124961, 0.03900006, 0.00880703, 0.05839593, 0.01017201,
       0.11425363, 0.04513112, 0.04454802, 0.03220335, 0.01119393,
       0.14277812, 0.1389907 , 0.02617296, 0.13202652, 0.08824208,
       0.03592846, 0.0968553 , 0.09239966, 0.02987417, 0.02133822,
       0.06753623, 0.12395842, 0.04410065, 0.08442441, 0.08466957,
       0.05393959, 0.04028989, 0.12381567, 0.07719298, 0.05806272,
       0.08826748, 0.04634303, 0.05632132, 0.05291096, 0.10328326,
       0.0204303 , 0.18220357, 0.05104898, 0.07247195, 0.18705825,
       0.04492601, 0.0761306 , 0.06016078, 0.02584309, 0.0168747 ,
       0.04482048, 0.04981623, 0.0828178 , 0.05166169, 0.04234457,
       0.09881668, 0.08620391, 0.0361829 , 0.02742147, 0.01539347,
       0.02839194, 0.06931531, 0.04613836, 0.15253675, 0.0472411 ,
       0.10208127, 0.04099486, 0.1360091 , 0.09538071, 0.09255421,
       0.16503418, 0.04915861, 0.04736091, 0.13828988, 0.02516873,
       0.08328137, 0.03823913, 0.01455238, 0.19035498, 0.02128164,
       0.07097401, 0.04114337, 0.10703173, 0.04663055, 0.1883856 ,
       0.03304391, 0.03861752, 0.06887708, 0.01677727, 0.03976524,
       0.03059027, 0.31549663, 0.23184276, 0.05151407, 0.06051653,
       0.15367787, 0.08724605, 0.07302958, 0.07319429, 0.17066967,
       0.08425228, 0.03745616, 0.05236494, 0.08792968, 0.02516873,
       0.        , 0.13850922, 0.10059015, 0.01156088, 0.1012537 ,
       0.13161567, 0.04498116, 0.08805984, 0.06623993, 0.04035855,
       0.05753126, 0.08492174, 0.01863662, 0.05587109, 0.03091363,
       0.05151407, 0.09902071, 0.0284041 , 0.08988736, 0.19776742,
       0.08306101, 0.02706829, 0.06905301, 0.02808188, 0.04202274,
       0.02402596, 0.01290401, 0.06596609, 0.12163252, 0.03973407,
       0.0441418 , 0.01953472, 0.00870312, 0.00644426, 0.02364752,
       0.03141093, 0.02839617, 0.11321365, 0.09588808, 0.10636676,
       0.05999765, 0.03666025, 0.02511218, 0.00233442, 0.08934147,
       0.0283115 , 0.02567861, 0.01064827, 0.11104493, 0.08985643,
       0.03733065, 0.00363061, 0.00937743, 0.01907312, 0.00345163,
       0.05910362, 0.01300124, 0.04446749, 0.01251356, 0.01087662,
       0.10379984, 0.1404436 , 0.01283612, 0.05714875, 0.05605677,
       0.03951721, 0.38466366, 0.01513145, 0.22339391, 0.19875265,
       0.0043091 , 0.05022812, 0.08468882, 0.02677926, 0.05911291,
       0.01263711, 0.07205065, 0.14341239, 0.05991234, 0.05650362,
       0.00992476, 0.01226325, 0.04028989, 0.08549343, 0.01416225,
       0.2833342 , 0.04679087, 0.12381567, 0.10617109, 0.02853484,
       0.07057832, 0.06395441, 0.0628161 , 0.07777571, 0.04165016,
       0.04521112, 0.06132629, 0.01916627, 0.1184595 , 0.07719298,
       0.02368066, 0.09735153, 0.03381715, 0.08714809, 0.02061646,
       0.02085354, 0.02420233, 0.02357571, 0.03008471, 0.02320678,
       0.01537588, 0.03522416, 0.40343364, 0.02826026, 0.03417705,
       0.03798227, 0.05559525, 0.06256433, 0.03095786, 0.03745179,
       0.16198182, 0.04310287, 0.10635654, 0.0561906 , 0.06060774,
       0.03726853, 0.03056367, 0.03232276, 0.08883209, 0.0368647 ,
       0.18926101, 0.13287452, 0.02467347, 0.06778677, 0.08767937,
       0.14563607, 0.02510006, 0.04835283, 0.08549343, 0.05022812,
       0.16746521, 0.07227476, 0.02588696, 0.10646381, 0.00460062,
       0.07205065, 0.00987657, 0.11349703, 0.06567558, 0.01004943,
       0.02488714, 0.0163226 , 0.09815469, 0.03927111, 0.17654489,
       0.04671615, 0.01649994, 0.06185166, 0.015863  , 0.11668568,
       0.04073988, 0.0352453 , 0.01445171, 0.13361773, 0.12162935,
       0.01678856, 0.00955694, 0.06567698, 0.07700945, 0.0654009 ,
       0.10197886, 0.0472411 , 0.11109995, 0.07719298, 0.02697383,
       0.18717806, 0.13188081, 0.1962287 , 0.10054253, 0.04044831,
       0.00511611])

In [21]:
#using 'Judul' as index in mapping
mapping = pd.Series(df.index, index=df['Judul'])

In [22]:
#displaying number of songs
mapping[:10]

Judul
Is It The Answer?                  0
Jet lag                            1
Superheroes                        2
Breakeven                          3
21 Guns                            4
Wake me up when September Ends     5
You're Gonna Live Forever in Me    6
Day 1                              7
Like me better                     8
Maps                               9
dtype: int64

In [23]:
def recommended_song(song_title, cosim=cosim):
    # Get the index of the songs that matches the title
    song_index = mapping[song_title]

    # Get the pairwsie similarity scores of all songs 
    similarity_scores = list(enumerate(cosim[song_index]))

    # Sort the songs based on the similarity scores
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar songs
    similarity_scores = similarity_scores[1:11]

    # Get the movie from mapping
    song_mapping = [i[0] for i in similarity_scores]

    # Return the top 10 most similar songs based on Judul
    return df['Judul'].iloc[song_mapping]

In [24]:
#input the title of the song below
recommended_song('Is It The Answer?')

183                          Best Part
40                                Numb
268                       Stuck On You
206                         These Days
30         If You Know That I'm Lonely
449                       Stay With Me
365                       It's Nothing
163                        Seven Years
106    If You're Too Shy (Let Me Know)
446                      Say Something
Name: Judul, dtype: object